head {
    display: none;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html,body{
    height: 100%;
}

#movieseats {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Adjust the number depending on how many columns you want */
    gap: 10px; /* Adjust the gap between grid items */
    min-height: 400px; 
    width: 80%;
}

#checkout-seats {
    display:flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000; /* Add a border */
 /* Add some padding */
    margin-bottom: 20px; /* Add some margin to separate it from other elements */
    min-height: 100px; /* Specify a minimum height */
    width: 100%; /* Specify a width */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    overflow: auto; /* Add scroll if content overflows */
}

#main-content{
    display:flex;
    flex-direction: row;
    justify-content: center;
    min-height: 500px;
}

#nav-bar{
    display:flex;
    justify-content: center;
    padding:100px;
    background-color: gray;
}
.seat {
    display: none;  /* Hide the checkbox */

}



.seat-label{
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    color: #fff;
    background: linear-gradient(to bottom, #f5793d, #e2461c);
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 5px #ba3c14;
    transition: all 0.3s ease;
}

.seat-label:hover {
    background: linear-gradient(to bottom, #e2461c, #f5793d);
}

.seat.booked + .seat-label
{
    background-color: #a9a9a9; /* Gray color to indicate unavailability */
    cursor: not-allowed; 
    box-shadow: none;

}
.booked-label {
    color: #a9a9a9; /* Gray color for booked seat labels */
}





#print-seats
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10%;
}


#checkout{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10%;
}


#screen{
    display:flex;
    justify-content: center;
    margin:50px;
}   
#movie-screen{
    display:flex;
    justify-content: center;
    flex-direction: column;
    
}


#checkout-container{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    padding-left: 10%;

}


.movie-image{
    display:flex;
    justify-content: center;

    width:50%;
    height:50%;
}

#movie-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#movie-wrapper{
    display:flex;
    flex-direction: column;
}

