head {
  display: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  display: flex;
  min-width: 1157px;
  margin-top:20px;
  margin-bottom:10px;
}



/* Start index.php */
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}

.nav-container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  flex-direction: column;

  /* flex-direction: column; */
}

.nav-flex-grow {
  flex-grow: 1;
  margin: auto;
}


.nav-container .logo-placement {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  justify-content: center;
}
.nav-content {
  display:flex;
  flex-direction:row;
  font-size: 40px;
  justify-content: space-evenly;
  padding:10px;
  padding-left:100px;
  padding-right:100px;
}

.nav-content span{
  margin: 25px;
}

.nav-content .current-page{

  border-bottom: 7px solid red;
  font-weight:bold;
  border-radius: 5px;
}

.nav-container ul {
  margin-top:20px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.nav-container ul li :hover{
  background-color: red;
  color:white;
  border-radius:20px;
}

.main-container{
  display:flex;
  flex-direction: column;
  padding-top:50px;
}

.main-container .top {
  width: 100%;
  height:800px;
  display:flex;
  flex-direction:row;
}
.main-container .top .left-content {
  display: flex;
  flex-direction: column;
  margin-right:auto;
  justify-content: center;
  font-family: 'Lalezar', cursive;
  font-size: 40px;

}

.main-container .top .left-content #header {
  width: 100%;
  padding: 100px;
  margin-top: 100px;
  align-items: flex-start;
}

.main-container .top .left-content #header #red-heading {
  color: red;
}
.main-container .top .left-content #body {
  width: 100%;
  padding-left: 100px;
}
.main-container .top .right-content {
  width:auto;
  height:auto;
}

.main-container .top .right-content .img {
  width: 100%;
  height: 100%;
}

.main-container .bottom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:20px;
  
}

.main-container .bottom #top{
  color:white;
  background-color: #8B0000;
  font-size: 30px;
  display:flex;
  flex-direction:row;
  padding-left:100px;
  padding-top:20px;
  padding-bottom:20px;
  width:100%;
}

.main-container .bottom #body{
  color:white;
  background-color: red;
  font-size: 30px;
  display:flex;
  flex-direction:row;
  padding-left:100px;
  padding-top:20px;
  padding-bottom:20px;
  width:100%;
}

footer{
  display:flex;
  flex-direction:column;
}
footer .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left:20px;

}

footer .smallLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .top .smallLogo #img {
  width: 70px;
  align-items: center;
}

footer .top .smallLogo #word {
  font-family: "Just Another Hand",cursive;
  font-size: 15px;

}

footer .bottom {
  display: flex;
  justify-content: center;
}

/* End of index.php */

/* Start of login.php */

.back{
  margin-left: 50px;
  margin-top:20px
}
.main-container-login-register{

  margin-top: 150px;
  margin-bottom:150px;
  width: 100%;
  padding-left:400px;
  padding-right:400px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.main-container-login-register .wrapper-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  box-shadow : 20px 10px 10px #888888;
  padding-top: 50px;
  padding-bottom: 60px;
}

.main-container-login-register .wrapper-login .login-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:20px;

}

.main-container-login-register .wrapper-login .login-input input{
  margin-bottom:20px;
  padding-left: 20px;
  padding-right: 20px;
}
.main-container-login-register .wrapper-login .smallLogo{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.main-container-login-register .wrapper-login .smallLogo #word{

  font-family: "Just Another Hand", cursive;

}

 /* End of login.php */ 
/* Start of Signup.php */



.main-container-login-register .wrapper-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 1px solid black;
  box-shadow : 20px 10px 10px #888888;
  padding-top: 50px;
  padding-bottom: 60px;
}

.main-container-login-register .wrapper-signup .signup-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom:20px;

}

.main-container-login-register .wrapper-signup .signup-input input{
  margin-bottom:20px;
  padding-left: 20px;
  padding-right: 20px;
}
.main-container-login-register .wrapper-signup .smallLogo{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.main-container-login-register .wrapper-signup .smallLogo #word{

  font-family: "Just Another Hand", cursive;

}

.main-container-login-register .wrapper-signup #error-message{
  color:red;
}
/* <====== About us PHP =========> */
.Aboutus-heading {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lalezar', cursive;
}

.Aboutus-heading {
  width:90%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin:20px auto;
}

.Aboutus-heading h1 {
  font-size: 50px;
  color: #000;
  margin-bottom: 25px;
  position: relative;
}

.Aboutus-heading h1::after{
content: "";
position:absolute;
width:100%;
height:5px;
display:block;
margin: 0 auto;
background-color:red ;
}

.Aboutus-heading p {
font-size:18px;
color: #666;
margin-bottom: 35px;
}

.aboutus-container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display:flex;
  justify-content:space-between ;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: row;
}

.about-image{
  flex: 1;
  margin-right: 5px;
  overflow: hidden;
}

.about-image img {
  max-width: 95%;
  max-height: 95%;
  display:block;
  transition: 0.5s ease;
}

.about-image:hover img {
  transform: scale(1.2);
}
.about-content h2 {
  flex:1; 
  font-size: 50px;
  margin-bottom: 15px;
  color:#333;
}

.about-content p{
  font-size: 25px;
  line-height: 1.5;
  color:#666;
}

.about-content .read-more {
  display: inline-block;
  padding:10px 20px;
  background-color: red;
  color: #fff;
  font-size:19px; 
  text-decoration: none ;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}

.about-content .read-more:hover {
  background-color: red;

}
