head {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
  body {
    min-width: 695px;
  }

  header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* Start index.php */
  .nav-container a {
    text-decoration: none;
    color: black;
  }
  .nav-container a:hover {
    color: red;
  }

  .nav-container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
  }

  .nav-flex-grow {
    flex-grow: 1;
    margin: auto;
  }

  .nav-container .logo-placement {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav-container .logo {
    width: 40%;
    display: flex;
    justify-content: center;
  }

  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .nav-content span {
    margin: 25px;
    font-family: "Lalezar", cursive;
    font-size: 2.5rem;
  }

  .nav-content .current-page {
    border-bottom: 7px solid red;
    font-weight: bold;
    border-radius: 5px;
  }

  .nav-container ul {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-container ul li :hover {
    background-color: red;
    color: white;
    border-radius: 20px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .main-container .top {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .main-container .top .left-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
    font-family: "Lalezar", cursive;
    font-size: 30px;
  }

  .main-container .top .left-content #header {
    width: 100%;
    align-items: flex-start;
    padding-left: 100px;
  }

  #red-heading {
    color: red;
  }
  .main-container .top .left-content #body {
    width: 100%;
    padding-left: 100px;
  }

  .main-container .top .right-content {
    width: 50%;
  }

  .main-container .top .right-content .img {
    width: 100%;
    height: 100%;
  }

  .main-container .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  .main-container .bottom #top {
    color: white;
    background-color: #8b0000;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #body {
    color: white;
    background-color: red;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: "Koulen", cursive;
  }
  .main-container .bottom #top a,
  .main-container .bottom #body a {
    text-decoration: none;
    color: white;
  }
  .main-container .bottom #bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
  }

  .main-container .bottom #bottom #left {
    display: flex;
    flex-direction: row;
    margin-right: 15%;
    padding-left: 50px;
    font-size: 5.5rem;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #bottom #right {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
  }

  .main-container .bottom #bottom #right .wrapper {
    display: flex;
    display: row;
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-bottom: 2.5px solid #ff7066;
  }

  .main-container .bottom #bottom #right .wrapper #word {
    font-family: "Mitr", sans-serif;
    font-size: 1.5rem;
  }

  .main-container .bottom #bottom #right .wrapper #heading {
    font-size: 2rem;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #bottom #right .img {
    margin-right: 70px;
  }

  footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  a {
    text-decoration: none;
    color: #000; /* Set the color you prefer */
    cursor: pointer;
  }

  footer .smallLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .top .smallLogo #img {
    width: 80%;
    align-items: center;
  }

  footer .top .smallLogo #word {
    font-size: 1.85rem;
    font-family: "Just Another Hand", cursive;
  }

  footer .top .contact p,
  footer .top .statement p {
    font-family: "Mitr", sans-serif;
    font-size: 1.5rem;
  }

  footer .top .contact p {
    display: flex;
    justify-content: center;
  }

  footer .top .contact img {
    width: 50px; /* Set the width to make it larger */
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
  }

  footer .top .contact .small-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .bottom {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 30px;
  }

  /* End of index.php */

  /* Start of login.php */

  #back-arrow-img {
    width: 150%;
  }
  #back-button {
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    border: 0px;
  }

  .main-container-login-register {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container-login-register .wrapper-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px inset black;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 30px;
  }

  .wrapper-login .login-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper-login .login-input label {
    font-family: "Koulen", cursive;
    font-size: 30px;
  }

  .wrapper-login .login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .wrapper-login .login-button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: red;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Koulen", cursive;
  }

  .wrapper-login .login-input input#email,
  .wrapper-login .login-input input#password {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
  }

  .wrapper-login .link-signup {
    font-family: "Mitr", sans-serif;
    font-size: 20px;
    padding-top: 15px;
  }
  .wrapper-login .link-signup a {
    color: red;
  }

  .wrapper-login .smallLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .wrapper-login .smallLogo #img {
    width: 60%;
    align-items: center;
  }

  .wrapper-login .smallLogo #word {
    font-size: 35px;
    font-family: "Just Another Hand", cursive;
  }

  /* End of login.php */
  /* Start of Signup.php */

  .main-container-login-register .wrapper-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px inset black;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 50px;
  }

  .wrapper-signup .signup-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper-signup .signup-input label {
    font-family: "Koulen", cursive;
    font-size: 30px;
  }

  .wrapper-signup .signup-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .wrapper-signup .signup-button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: red;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: "Koulen", cursive;
  }

  .wrapper-signup .signup-input input#email,
  .wrapper-signup .signup-input input#password,
  .wrapper-signup .signup-input input#name,
  .wrapper-signup .signup-input input#address {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 30px;
    padding: 5px;
  }

  .wrapper-signup .link-login {
    font-family: "Mitr", sans-serif;
    font-size: 20px;
    padding-top: 15px;
  }

  .wrapper-signup .link-login a {
    color: red;
  }

  .wrapper-signup .smallLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }

  .wrapper-signup .smallLogo #img {
    width: 60%;
    align-items: center;
  }

  .wrapper-signup .smallLogo #word {
    font-size: 35px;
    font-family: "Just Another Hand", cursive;
  }

  .wrapper-signup #error-message,
  .wrapper-signup #password-short {
    color: red;
  }

  /* <====== About us PHP =========> */

  .aboutus-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .aboutus-heading {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lalezar", cursive;
  }

  .aboutus-heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutus-heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
  }

  .aboutus-heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: red;
  }

  .aboutus-heading p {
    font-size: 23px;
    color: #666;
    margin-bottom: 35px;
  }

  .about {
    display: flex;
    flex-direction: row;
    flex: none;
  }

  .about-image {
    overflow: hidden;
    margin-left: 50px;
    margin-right: 200px;
    width: 50%;
    height: 50%;
    position: relative;
  }

  .about-image img {
    max-width: 90%;
    display: block;
    transition: 0.5s ease;
    flex: none;
  }

  .about-image:hover img {
    transform: scale(1.2);
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-content h2 {
    font-size: 50px;
    margin-bottom: 5px;
    color: #333;
  }

  .about-content p {
    font-size: 20px;
    line-height: 1.5;
    color: #666;
  }

  .about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
  }

  .about-content .read-more:hover {
    background-color: red;
  }

  .menu-item img {
    width: 100px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 795px;
  }
  header {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .nav-container a {
    text-decoration: none;
    color: black;
  }
  .nav-container {
    text-decoration: none;
    color: black;
  }
  .nav-container a:hover {
    color: red;
  }
  .nav-flex-grow {
    flex-grow: 1;
    margin: 1px;
  }
  .nav-container .logo-placement {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .logo {
    justify-content: center;
  }
  .nav-container ul {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .nav-content span {
    margin: 5px;
    font-family: "Lalezar", cursive;
    font-size: 2.5rem;
  }
  .nav-content .current-page {
    border-bottom: 7px solid red;
    font-weight: bold;
    border-radius: 5px;
  }
  .nav-container ul li :hover {
    background-color: red;
    color: white;
    border-radius: 20px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
  }
  .main-container .top .left-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    font-family: "Lalezar", cursive;
    font-size: 25px;
  }
  .main-container .top .left-content #header {
    width: 100%;
    align-items: flex-start;
    padding-left: 40px;
  }
  .main-container .top .left-content #body {
    width: 100%;
    padding-left: 40px;
  }
  #red-heading {
    color: red;
  }
  .main-container .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
  .main-container .top .right-content {
    display: flex;
    padding-top: 20px;
  }
  .main-container .top .right-content .img {
    width: 90%;
    height: 100%;
    padding-left: 60px;
  }

  .main-container .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  .main-container .bottom #top a,
  .main-container .bottom #body a {
    text-decoration: none;
    color: white;
  }
  .main-container .bottom #top {
    color: white;
    background-color: #8b0000;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: "Koulen", cursive;
  }
  .main-container .bottom #body {
    color: white;
    background-color: red;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .main-container .bottom #bottom #left {
    display: flex;
    flex-direction: row;
    margin-right: 30%;
    padding-left: 100px;
    padding-bottom: 50px;
    font-size: 5rem;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #bottom #right {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  .main-container .bottom #bottom #right .wrapper {
    display: flex;
    display: row;
    margin-bottom: 35px;
    padding-bottom: 25px;
    border-bottom: 2.5px solid #ff7066;
  }
  .main-container .bottom #bottom #right .wrapper #word {
    font-family: "Mitr", sans-serif;
    font-size: 1.5rem;
  }

  .main-container .bottom #bottom #right .wrapper #heading {
    font-size: 2rem;
    font-family: "Koulen", cursive;
  }
  .main-container .bottom #bottom #right .img {
    margin-right: 35px;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer .smallLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .top .smallLogo #img {
    width: 80%;
    align-items: center;
  }
  footer .top .smallLogo #word {
    font-size: 1.85rem;
    font-family: "Just Another Hand", cursive;
  }
  footer .top .contact p,
  footer .top .statement p {
    font-family: "Mitr", sans-serif;
    font-size: 1.5rem;
  }

  footer .top .contact p {
    display: flex;
    justify-content: center;
  }

  footer .top .contact img {
    margin: 5px;
    width: 10%;
  }

  footer .top .contact .small-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .bottom {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 30px;
  }

  /* <====== About us PHP (767)=========> */

  .aboutus-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .aboutus-heading {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lalezar", cursive;
  }

  .aboutus-heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutus-heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    padding-top: 25px;
  }
  .aboutus-heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    margin: 0 auto;
    background-color: red;
  }

  .aboutus-heading p {
    font-size: 30px;
    color: #666;
    margin-bottom: 35px;
  }
  .about {
    display: flex;
    flex-direction: column;
    flex: none;
  }
  .about-image {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .about-image img {
    max-width: 70%;
    transition: 0.5s ease;
  }

  .about-image:hover img {
    transform: scale(1.2);
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content h2 {
    font-size: 50px;
    margin-bottom: 5px;
    color: #333;
  }

  .about-content p {
    font-size: 25px;
    line-height: 1.5;
    color: #666;
  }

  .about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
  }

  .about-content .read-more:hover {
    background-color: red;
  }
}

/* Resolution: width from 767 to 1023 */
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* Start index.php */
  .nav-container a {
    text-decoration: none;
    color: black;
  }
  .nav-container a:hover {
    color: red;
  }

  .nav-container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    flex-direction: column;
  }

  .nav-flex-grow {
    flex-grow: 1;
    margin: auto;
  }

  .nav-container .logo-placement {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .logo {
    justify-content: center;
  }

  .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .nav-content span {
    margin: 25px;
    font-family: "Lalezar", cursive;
    font-size: 2.5rem;
  }

  .nav-content .current-page {
    border-bottom: 7px solid red;
    font-weight: bold;
    border-radius: 5px;
  }

  .nav-container ul {
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-container ul li :hover {
    background-color: red;
    color: white;
    border-radius: 20px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .main-container .top {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main-container .top .left-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    justify-content: center;
    font-family: "Lalezar", cursive;
    font-size: 30px;
  }
  .main-container .top .left-content #header {
    width: 100%;
    align-items: flex-start;
    padding-left: 100px;
  }
  #red-heading {
    color: red;
  }
  .main-container .top .left-content #body {
    width: 100%;
    padding-left: 100px;
  }

  .main-container .top .right-content {
    display: flex;
    padding-top: 20px;
  }

  .main-container .top .right-content .img {
    width: 90%;
    height: 100%;
    padding-left: 60px;
  }

  .main-container .bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .main-container .bottom #top a,
  .main-container .bottom #body a {
    text-decoration: none;
    color: white;
  }

  .main-container .bottom #top {
    color: white;
    background-color: #8b0000;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #body {
    color: white;
    background-color: red;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .main-container .bottom #bottom #left {
    display: flex;
    flex-direction: row;
    margin-right: 30%;
    padding-left: 100px;
    padding-bottom: 50px;
    font-size: 6rem;
    font-family: "Koulen", cursive;
  }

  .main-container .bottom #bottom #right {
    display: flex;
    flex-direction: column;
    margin-right: 2.5%;
    margin-left: 2.5%;
  }

  .main-container .bottom #bottom #right .wrapper {
    display: flex;
    display: row;
    margin-bottom: 35px;
    padding-bottom: 25px;
    border-bottom: 2.5px solid #ff7066;
  }
  .main-container .bottom #bottom #right .wrapper #word {
    font-family: "Mitr", sans-serif;
    font-size: 1.5rem;
  }

  .main-container .bottom #bottom #right .wrapper #heading {
    font-size: 2rem;
    font-family: "Koulen", cursive;
  }
  .main-container .bottom #bottom #right .img {
    margin-right: 35px;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
  footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  footer .smallLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .statement {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .top .smallLogo #img {
    width: 80%;
    align-items: center;
  }
  footer .top .smallLogo #word {
    font-size: 1.85rem;
    font-family: "Just Another Hand", cursive;
  }
  footer .top .contact p,
  footer .top .statement p {
    font-family: "Mitr", sans-serif;
    font-size: 1.5rem;
  }

  footer .top .contact p {
    display: flex;
    justify-content: center;
  }

  footer .top .contact img {
    margin: 5px;
    width: 10%;
  }

  footer .top .contact .small-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  footer .bottom {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 30px;
  }

  /* <====== About us PHP (767 to 1023)=========> */
  .aboutus-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .aboutus-heading {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lalezar", cursive;
  }

  .aboutus-heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .aboutus-heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    padding-top: 25px;
  }

  .aboutus-heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    display: block;
    margin: 0 auto;
    background-color: red;
  }

  .aboutus-heading p {
    font-size: 30px;
    color: #666;
    margin-bottom: 35px;
  }

  .about {
    display: flex;
    flex-direction: column;
    flex: none;
  }

  .about-image {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .about-image img {
    max-width: 50%;
    transition: 0.5s ease;
  }
  .about-image:hover img {
    transform: scale(1.2);
  }

  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-content h2 {
    font-size: 50px;
    margin-bottom: 5px;
    color: #333;
  }

  .about-content p {
    font-size: 25px;
    line-height: 1.5;
    color: #666;
  }

  .about-content .read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
  }

  .about-content .read-more:hover {
    background-color: red;
  }
}

/* USER LOGIN MENU CSS */

.nav-container-menu {
  display: flex;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  justify-content: space-between; /* This will push the logo and welcome to opposite ends */
  align-items: center; /* This will vertically center align them if they have different heights */
}
.nav-container-menu #logo {
  display: flex;
  justify-content: center; /* Center the logo */
}

.nav-container-menu .logo-placement {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-container-menu .logo-placement .logo {
  width: 30%;
}

#searchIcon {
  width: 30px;
  height: 30px;
}

.profile-dropdown {
  position: relative;
  display: flex;
}

.dropbtn {
  display: flex;
  flex-direction: row;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: auto;
}
.profile-dropdown #welcome {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown .profile-pic {
  margin: 10px;
  border-radius: 50%;
  width: 80px; /* Set the desired width */
  height: 80px; /* Set the desired height */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.profile-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: red;
  border-radius: 10px;
}
.profile-dropdown:hover .dropdown-content {
  display: block;
}

#search-container {
  flex: 1;
}
#menu-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Adjust as needed */
  width: 80%;
  margin-right: 150px;
}

#menuGridclass {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.food-content {
  position: relative;
  padding: 15px;

  background-color: white;
}

.foodtitle {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.image-grid img {
  position: relative;
  width: 100%;
  height: 200px;
  object-fit: cover; /* This ensures the image scales and crops to fit the dimensions without distortion */
  display: block;
  margin: 0 auto;
}
.food-content .price-container {
  position: absolute;
  top: 0;
  border: 0px;
  font-size: 25px;
  right: 13px;
  color: #333;
  text-align: center;
  transform: translateY(calc(-100% + 14px));
  font-weight: bold;
}

.food-content .price-container .price {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 100px;
  font-size: 8.5px;
  font-weight: 600;
  text-align: center;
  margin: -8px 8px 0 0;
  min-height: 33px;
  line-height: normal;
  letter-spacing: 0;
  box-shadow: 0 4px 14px -4px #00000014;
  padding: 6px 16px;
  font-size: 20px;
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will distribute space evenly */
  height: 100%; /* Make sure all food-item divs have the same height */
}

.foodtitle-container,
.food-description-container {
  flex: 1; /* This will make them grow and fill the space */
  display: flex;
  align-items: center; /* Aligns content vertically in the center */
  margin-bottom: 10px; /* Adjust as needed */
}

.food-description-container {
  width: 100%;
  height: 150px;
}

.quantity-control-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the quantity controls horizontally */
  align-items: center; /* Center the quantity controls vertically */
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: white; /* Starting background color */
  margin-left: 30px;
  margin-right: 30px;
  color: black; /* Starting font color */
  padding: 5px 10px; /* Padding inside the button */
  border: 1px solid #ddd; /* Border color */
  cursor: pointer; /* Mouse cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
}

.quantity-control button:hover {
  background-color: red; /* Background color on hover */
  color: white; /* Font color on hover */
}

.order-card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
}
.order-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

#pay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s ease;
}

#pay-button:hover {
  background-color: #0056b3;
}
#pay-button:disabled {
  background-color: #cccccc; /* This will make the button grey */
  color: #888888; /* Darken the text color a bit */
  cursor: not-allowed; /* This changes the cursor to a 'not allowed' icon */
}

#pay-button:disabled:hover {
  background-color: #cccccc; /* Keeps the button grey even on hover */
}

#cuisine-buttons button {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  padding: 15px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style for the hovered state of the button */
#cuisine-buttons button:hover {
  background-color: red;
  color: whitesmoke;
}

/* Style for the selected button */
#cuisine-buttons button.selected {
  background-color: #e0e0e0;
  font-weight: bold;
}

.nav-menu #cuisine,
.nav-menu #category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: row;
  margin-right: 60px;
  margin-bottom: 10px;
}

.nav-menu #cuisine .text,
.nav-menu #category .text {
  width: 100%;
  font-size: 30px;
  padding-right: 160px;
}

#searchBar-container {
  position: relative;
}

#searchBar {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 3px solid black;
  border-radius: 50px; /* To achieve the rounded edges */
  font-size: 16px;
  outline: none; /* Removes default focus outline */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05); /* Added a subtle shadow for depth */
  padding-left: 2%;
  padding-right: 2%;
}

#searchBar-container {
  width: 70%;
}

#searchBar-container #input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  padding-right: 50px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer; /* Makes the icon appear clickable */
  color: #a3a3a3; /* Makes the icon color more subtle */
}

.content {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}



#menu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

#deliveryLocation {
  display: flex;
  flex-direction: row;
  background-color: white; /* Light grey background */
  padding: 10px; /* Spacing around the content */
  max-width: 300px; /* Maximum width */
  font-family: Arial, sans-serif; /* Font family */
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e7e7;
}

#deliveryLocation .now {
  color: #888; /* Grey color for the 'Now' text */
  font-size: 0.8em; /* Smaller font size for 'Now' */
  font-weight: bold; /* Make 'Now' bold */
}

#deliveryLocation .location {
  color: #000; /* Black color for the location */
  font-size: 1.2em; /* Larger font size for location */
  margin-top: 5px; /* Spacing above the location */
  display: flex;
  flex-direction: column;
}

#deliveryLocation .icon {
  width: 50px;
  height: 50px; /* Height of the icon */
  margin-right: 20px;
  vertical-align: middle; /* Align icon with the text */
}

#toggleButton {
  background-color: white; /* Background color */
  color: red; /* Text color */
  font-size: 30px;
  border: 0px;
  padding: 5px 10px; /* Padding inside the button */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor to pointer to indicate it's clickable */
  transition: all 0.3s ease; /* Smooth transition for color changes */
}

#toggleButton:hover {
  background-color: red; /* Red background on hover */
  color: white; /* White text on hover */
}

#toggleButton.active {
  background-color: red; /* Red background when active */
  color: white; /* White text when active */
}

/* For User Payment Page */
.payment-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:3%;
    margin-bottom: 3%;

}

.orderdetail{
  padding-bottom: 2%;
}

#payment-address{
  margin-bottom: 4%;
}
.payment-center {
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.payment-methods {
  display: inline-block;
  text-align: left;
  width:100%;
}
.input-payment {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.container-payment {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.2);
}




.container-payment table {
  width: 100%;
  border-collapse: collapse;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.container-payment{
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.container-payment:hover h2 {
  text-shadow: 0 0 10px #ffffff;
}





.container-payment th,
td {
  padding: 10px;
  text-align: left;
}

#table-order-details{
  width: 100%;
  border-collapse: collapse;
  padding-bottom:4%;
}


.container-payment input[type="text"]:hover,
.container-payment input[type="number"]:hover,
.container-payment input[type="tel"]:hover {
  border-color: #ff000090; /* Red border on hover */
  box-shadow: 0 0 8px #ff0000; /* Red shadow for emphasis */
}


.payment{
  background: #f8f8f8;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2{
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #0d3c61;
}

.payment-methods label {
  margin-right: 10px;
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input-payment{
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  font-size: 16px;
  color: #555555;
}

.card-item{
  width: 50%;
}

.card-grp{
  display: flex;
  /* justify-content: space-between; */
}

.space{
  margin-bottom: 20px;
}

.icon-relative{
  position: relative;
}

.icon-relative .fas,
.icon-relative .far{
  position: absolute;
  bottom: 25px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}


/* .payment-btn{
  margin-top: 40px;
  background: red;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
} */

#payment-btn-container{
  display: flex;
  justify-content: center;
  margin-top: 3%;

}

.button-3d {
  background-color: #3498db;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.button-3d:hover {
  transform: translateY(-7px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
@keyframes gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animate {
  background: linear-gradient(-45deg, #ff0000, #ffffff, #ff0000, #ffffff);
  background-size: 400% 400%;
  animation: gradient-bg 15s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulse-icon {
  animation: pulse 2s infinite;
}

.container-payment .smallLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.container-payment #word {
  font-size: 1.85rem;
  font-family: "Just Another Hand", cursive;
}



/* .payment-logo{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  line-height: 85px;
} */

/* .payment-logo:before{
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #2196F3;
  border-radius: 50%;
} */

/* .payment-logo p{
  position: relative;
  color: #f8f8f8;
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 58px;
} */

/* Admin Page */

#admin-title{
  text-align: center;
  margin-bottom: 40px;
}

#admin-title h1{
  font-size: 2em;
  color: #333;
}
#admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  margin-left:10%;
  margin-right: 10%;

}
#admin-container #initialize-db{
  display:flex;
  flex-direction: column;
  border-radius: 20px;
  border:1px solid #ccc;
  margin-bottom: 50px;
}

#submit-button-create-menu{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#submit-button-create-menu:hover {
  background-color: #0056b3;
}


#admin-container #initialize-db #wrapper{
  margin: 20px;

}

#admin-container #admin-table-container{
  display:flex;
  flex-direction: column;
  margin-bottom:3%;
  overflow-x: auto; 
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgb(0,0,0,0.5);
  max-height: 800px;
  
}
.food-admin-table{
  padding:20px;
}

#admin-table-container table{
  width: 100%;
  border-collapse: collapse;


}
#admin-table-container td,
#admin-table-container th{
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;

}
#admin-table-container th{
  background-color: #f2f2f2;
}

#admin-table-container tr:hover {
  background-color: #f5f5f5;
}




#admin-table-container .input-group {
  margin-bottom: 15px;
}

#admin-table-container label {
  display: block;
  margin-bottom: 5px;
}

#admin-table-container .input-group input[type="text"],
#admin-table-container .input-group input[type="number"],
#admin-table-container .input-group select,
#admin-table-container .input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#admin-table-container .input-group input[type="file"] {
  padding: 5px;
  border: none;
}

#admin-table-container .input-group .button {
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#admin-table-container .input-group .button:hover {
  background-color: red;
}


#admin-container #create-new-food-admin-container{

    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;

}

#admin-container #create-new-food-admin-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
#admin-container #create-new-food-admin-container input[type="text"],
#admin-container #create-new-food-admin-container input[type="number"],
#admin-container #create-new-food-admin-container select,
#admin-container #create-new-food-admin-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#admin-container #create-new-food-admin-container input[type="file"] {
    margin-bottom: 15px;
}

#admin-container #create-new-food-admin-container input[type="submit"] {
    width: 100%;
    background: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#admin-container #create-new-food-admin-container input[type="submit"]:hover {
    background: red;
    color:white;
    box-shadow: 0px 4px 12px 0px rgba(248, 82, 82, 0.5);
}

#admin-container #create-new-food-admin-container label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}


#admin-container #create-new-food-admin #wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#admin-container #create-new-food-admin #wrapper input{
margin-bottom:20px;

}



/* table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  margin: 20px 0;
}

th {
  background-color: #333;
  color: white;
  padding: 15px 25px;
  font-weight: bold;
}

td {
  padding: 15px 25px;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:hover {
  background-color: #f5f5f5;
} */

/* Order Details Page  */
.order-container{
  display:flex;
  flex-direction: row;
  margin-left:60px;
  margin-right:60px;
  padding-top:50px;
}

.order-number-container {
  max-width: 800px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Increased shadow for depth */
  border: 1px solid #ddd; /* Light border for more definition */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-height: 500px; /* Adjust the height as needed */
  overflow-y: auto; 
}

.order-number-container h2 {
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.order-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.order-details #wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom:10px;
  padding-top:10px;
  border-bottom: 1px solid rgb(200, 200, 200);
  
}
.order-details #words{
  display:flex;
  flex-direction: column;
  margin-right:60px;
  
}

.order-details #details-submit-button input{
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  position: relative;
  overflow: hidden;
}

.order-details #details-submit-button input:hover{
  background-color: red;
  color:white;
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 0, 0, 0.3);
}


.order-details-container {
  flex:1;
}
.product-description {
  position: relative;
  max-width: 600px;
  margin-left:30%;
  width:100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}


.product-description::before,
.product-description::after {
  content: '$';
  color:red;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

.product-description::before {
  top: -20px;
  left: -20px;
  animation: moveDollarSigns 5s linear infinite;
}

.product-description::after {
  bottom: -20px;
  right: -20px;
  animation: moveDollarSigns 5s linear infinite reverse;
}

@keyframes moveDollarSigns {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.product-description:hover::before,
.product-description:hover::after {
  opacity: 1; /* Make dollar signs visible on hover */
}


.product-description h2 {
  margin-bottom: 20px;
}

.order-details-container table {
  width: 100%;
  border-collapse: collapse;
}

.order-details-container th,
.order-details-container td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #eee;
}



/* Profile Page  */
.profile-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
}

.profile-dropdown .profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #333;
}

.profile-links a {
  display: block;
  margin: 10px 0;
  color: #333;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.profile-links a:hover {
  background-color: #f7f7f7;
}

.profile-container nav {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.profile-menu .menu-item {
  display: block;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s;
  font-size: 20px;
  margin-bottom: 20px;
}

.profile-menu .menu-item:last-child {
  border-bottom: none;
}

.profile-menu .menu-item:hover {
  background-color: red;
  color: white;
}

.profile-menu .icon {
  margin-right: 10px;
}

.menu-item.active::before {
  background-color: #ff0000; /* This sets the line to red */
}

/* or, if it's a border */
.menu-item.active {
  border-left: 4px solid #ff0000; /* This sets the border to red */
}

.profile-content-container {
  flex: 1;
}
.profile-content-container header {
  border-bottom: 1px solid gray;
}

.profile-info {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-info #profile-page-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid gray;
}
.profile-info h3 {
  color: #333333; /* dark grey for text */
  text-align: center;
  font-size: 22px; /* larger size for name */
  margin-top: 10px;
}

.profile-info p {
  color: black; /* lighter grey for less important text */
  text-align: center;
  font-size: 30px;
}

.profile-info:hover {
  box-shadow: 0 8px 16px 0 rgba(208, 40, 40, 0.2);
}

.profile-content-container .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

.profile-form .input-group {
  margin-bottom: 15px;
}

.profile-form .input-group label {
  font-family: "Koulen", cursive;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.profile-form .input-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.profile-form .button-container {
  text-align: right;
}

.profile-form .button {
  padding: 10px 20px;
  background-color: red; /* A pleasant green */
  border: none;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-form .button:hover {
  background-color: #4cae4c; /* A darker shade of the button color */
}

/* Sucess Payment */

.container-success {
  max-width: 380px;
  margin: 30px auto;
  overflow: hidden;
}

.printer-top {
  border: 6px solid #666666;
  height: 6px;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  background: #333333;
}

.printer-bottom {
  border: 6px solid #666666;
  height: 6px;
  border-top: 0;
  border-radius: 0 0 6px 6px;
  background: #333333;
}

.paper-container {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.paper {
  background: #ffffff;
  width: 95%;
  height: 600px;
  position: absolute;
  z-index: 2;
  margin: 0 12px;
  margin-top: -12px;
  animation: print 2000ms cubic-bezier(0.68, -0.55, 0.265, 0.9);
  -moz-animation: print 2000ms cubic-bezier(0.68, -0.55, 0.265, 0.9);
}

.main-contents {
  margin: 0 12px;
  padding: 24px;
}
.main-contents .smallLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-contents #word {
  font-size: 1.85rem;
  font-family: "Just Another Hand", cursive;
}

.success-icon {
  text-align: center;
  font-size: 48px;
  height: 72px;
  background: #359d00;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  margin: 16px auto;
  color: #fff;
}

.success-title {
  font-size: 22px;
  text-align: center;
  color: #666;
  font-weight: bold;
  margin-bottom: 16px;
}

.success-description {
  font-size: 15px;
  line-height: 21px;
  color: #999;
  text-align: center;
  margin-bottom: 24px;
}

.order-details {
  text-align: center;
  color: #333;
  font-weight: bold;
  .order-number-label {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .order-number {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 48px;
    font-size: 48px;
    padding: 8px 0;
    margin-bottom: 24px;
  }
}

.order-footer {
  text-align: center;
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #999;
}
@keyframes print {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes print {
  0% {
    -webkit-transform: translateY(-90%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

@-moz-keyframes print {
  0% {
    -moz-transform: translateY(-90%);
  }
  100% {
    -moz-transform: translateY(0%);
  }
}

@-ms-keyframes print {
  0% {
    -ms-transform: translateY(-90%);
  }
  100% {
    -ms-transform: translateY(0%);
  }
}

/* For phone or i dont know what  */
/* Preview Menu  */
@media only screen and (min-width: 1024px) {
 .previewMenu-container{
margin:5%;
 }

 #title{
  font-family: "Lalezar", cursive;
  font-size: 63px;
 }



/* Apply the .glowing-text class to the element you want to glow */
.previewMenu-container #title .red {
  color: red; /* or use hex color code for a specific shade of red */
  font-weight: bold;
  animation: glow 1.5s ease-in-out infinite alternate;
}




 .previewMenu-container #description{
  font-family: "Mitr", sans-serif;
  font-size:30px;
 }


  .slider-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding-bottom: 5%;
  }

  .slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; /* Ensure this is set */
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .slider-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    transition: transform 0.5s;
  }

  .slider-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes it circular */
    background-color: #ff3b3b; /* Red background color */
    border: none;
    color: #fff; /* White color for the arrow (>) */
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    outline: none;
    position: absolute;
    transform: translateY(-50%); /* Vertically center the button */
    z-index: 1; /* Ensure the buttons are above the images */
  }

  .slider-btn-left {
    left: 0;
  }

  .slider-btn-right {
    right: 0;
  }

  .slider {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    width: max-content;
    transition: transform 0.5s;
  }
  .slider img {
    width: 325px;
    height: 400px;
    object-fit: cover;
    flex: none;
    scroll-snap-align: start;
  }
  .slider::-webkit-scrollbar {
    height: 8px;
  }

  .slider::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }

  .slider::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
}
